%section.show.container
  .row
    .col-sm-10.col-sm-offset-1
      %article
        %header
          %h1 Troop #{ @troop.troop_number }
          - @troop.scouts.each do |scout|
            .col-sm-offset-2
              %td= scout.full_name